#MainGrid {
    display: grid;
    grid-template-columns: max(224px) 64px min-content 64fr;
    grid-template-rows: 64px auto;
}
#Switches {
    z-index: 10;
    position: fixed;
    top: 64px;
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 64px;
    min-width: 196px;
}
#Panels {
    grid-column: 3/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 52px;
}
