.NumDisplay {
    width: 256px;
    height: 160px;
    border-radius: 24px;
    display: grid;
    grid-template-rows: 10% 55% auto;
}
.NumDisplayValue {
    font-size: 90px;
    text-align: center;
    font-family: JosefinSans-SemiBold;
    grid-row: 2/3;
    color: white;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}
.NumDisplayUnit {
    grid-row: 3/4;
    font-size: 40px;
    text-align: center;
    font-family: JosefinSans;
    color: white;
    font-weight: 400;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}
