.TextBox {
    width: 256px;
    height: 50%;
    border-radius: 24px;
    display: grid;
    grid-template-rows: 16px auto 16px;
    grid-template-columns: 8px auto 8px;
    height: max-content;
}
.TextBoxText {
    font-size: 40px;
    text-align: center;
    font-family: JosefinSans;
    grid-row: 2/3;
    grid-column: 2/3;
    color: white;
    font-weight: 400;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}
